* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

li{
  list-style: none;
}

main{
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.main-content, .top-row, .bottom-row {
  display: flex;
}

.sidebar{
  border: 1px solid green;
  width: 200px;
  padding: 5px;
}

.main-content{
  /* border: 1px solid red; */
  flex: auto;
  justify-content: space-between;
  flex-direction: column;
}

.top-row{
  flex: 3;
  border: 1px solid blue;
}

.issue{
  flex: 3;
  border: 1px solid red
}

.calendar{
  flex: 5;
  border: 1px solid purple;
}

.bottom-row{
  flex: 2;
}

.bottom-row{
  border: solid 1px orange;
}

.sidebar-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.sidebar-title h3, .sidebar-title button{
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

h3, h4, h5, h6{
  font-weight: 100;
}

button {
  border-width: 0px;
  border-radius: 10px;
  background-color:#00A2FF;
  color: white;
}

.sidebar-title button{
  font-size: 10px;
  padding: 3px 4px 3px 4px;
}

.sidebar-projects{
  padding: 5px;
  padding-right: 0px;
}

.project-title{
  margin-bottom: 2px;
  margin-right: 0px;
  display: flex;
  justify-content: space-between;
}

.project-title button{
  font-size: 9px;
  padding: 0px 5px 0px 5px;
}

.project-sprints{
  padding: 5px;
  padding-right: 0px;
  margin-bottom: 15px;
}

.sprint-title{
  margin-top: 2px;
  margin-bottom: 4px;
}

.sprint-tasks{
  padding: 5px;
  padding-right: 0px;
}