.new-project-form {
  margin: auto;
  margin-top: 20%; /* Keeps the form a little above center vertically */
                      /* - Easier on the eyes */
  border: solid 1px gray;
  padding: 10px;
  display: inline-block;
}

/* Space between fields */
.form-field {
  margin-bottom: 10px;
}

/* Keep the label above the input field */
.form-field label {
  display: block;
}

/* Set the submission button to the right */
.form-field:last-of-type {
  float: right;
  margin-bottom: 0px;
}