.new-project-form {

}

/* Space between fields */
.form-field {
  margin-bottom: 10px;
}

/* Keep the label above the input field */
.form-field label {
  display: block;
}

/* Aligns the action buttons */
.action-field {
  display: flex;
  justify-content: space-between;
  padding: 0px 4px 0px 3px;
}

.cancel-button{
  background-color: white;
  border: none;
  color: red;
}