.new-project-form {
  margin: auto;
  margin-top: 20%;
  border: solid 1px gray;
  padding: 10px;
  display: inline-block;
}

.form-field {
  margin-bottom: 10px;
}

.form-field label {
  display: block;
}

.form-field:last-of-type {
  float: right;
  margin-bottom: 0px;
}