<div class="sidebar-title">
  <h3>Projects</h3>
  <button id="new_project">New Project</button>
</div>
<div class="sidebar-projects">
  <ul>
    {% for project in projects %}
    <li>
      <div class="project-title">
        <h4 style="color: red">{{project.title}}</h4>
        <form action="delete_project">
          {% csrf_token %}
          <button
          type="submit"
          name="project_id"
          value="{{project.id}}"
          class="delete-button"
          > delete
          </button>
        </form>
        <button class="new-sprint-button" type="button" >New Sprint</button>
      </div>
      <div class="project-sprints">
        <ul>
          <li>
            <h5 class="sprint-title" style="color: blue">Sprint 1</h5>
            <div class="sprint-tasks">
              <ul>
                <li>
                  <h6 class="task-title" style="color: green">Task 1</h6>
                </li>
              </ul>
            </div>
          </li>
          <li><h5 class="sprint-title">Sprint 2</h5></li>
        </ul>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>